name: dev-build

on:
  push:
    branches:
      - "*"

jobs:
  build:
    name: Build and deploy
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          clean: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build images
        run: |
          VERSION=$(git rev-parse --short "$GITHUB_SHA")
          docker buildx create --name multiarch --driver docker-container --use
          docker buildx build --platform linux/amd64 --push -t ghcr.io/${{ github.repository }}:$VERSION .