name: Docker

on:
  push:
    tags:
    - "*"

jobs:
  build:
    name: Build and deploy
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write

    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          clean: true

      - name: Install jq
        run: |
          wget https://github.com/jqlang/jq/releases/download/jq-1.7.1/jq-linux-amd64
          chmod +x jq-linux-amd64
          sudo mv jq-linux-amd64 /usr/local/bin/jq

      - name: Ensure buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build images
        run: |
          TAG_NAME="${{ github.ref_name }}"
          docker buildx build --platform linux/amd64 --push -t ghcr.io/${{ github.repository }}:$TAG_NAME .
          IMAGE_SHA=$(docker buildx imagetools inspect ghcr.io/${{ github.repository }}:$TAG_NAME --format "{{json .Manifest}}" | jq -r .digest)
          echo "$IMAGE_SHA" > /tmp/sha256sum.txt

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          release_name: ${{ github.ref_name }}
          draft: false
          prerelease: false

      - name: Upload SHA
        id: upload-sha
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: /tmp/sha256sum.txt
          asset_name: sha256sum.txt
          asset_content_type: text/plain

      - name: Install Helm
        uses: azure/setup-helm@v3

      - name: Package Helm Chart
        run: |
          # Copy the chart and package it for the appVersion and chart version that matches the tag
          cp -r charts/rke2-oidc-discovery /tmp/chart
          helm package --app-version ${{ github.ref_name }} --version ${{ github.ref_name }} -d /tmp/ /tmp/chart

      - name: Derive repo name
        id: repo-name
        run: |
          NAME="$(basename $GITHUB_REPOSITORY)"
          echo "value=$NAME" >> $GITHUB_OUTPUT
      
      - name: Upload Helm chart
        id: upload-helm-chart
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.build.outputs.upload_url }}
          asset_path: /tmp/${{ steps.repo-name.outputs.value }}-${{ github.ref_name }}.tgz
          asset_name: ${{ steps.repo-name.outputs.value }}-${{ github.ref_name }}.tgz
          asset_content_type: application/gzip

      - name: Log in to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | helm registry login ghcr.io -u ${{ github.actor }} --password-stdin
      
      - name: Publish Helm chart
        id: publish-helm-chart
        run: |
            helm push /tmp/${{ steps.repo-name.outputs.value }}-${{ github.ref_name }}.tgz oci://ghcr.io/$GITHUB_REPOSITORY_OWNER/charts